/* ナビゲーション */
nav ul {
    list-style-type: none;
    background-color: #555;
    padding: 10px;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 90px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}
/*マイページに遷移する人のアイコンを右寄せ*/
.mypage {
    float: right;
  }

  /*共通部分のロゴを小さくする*/
  .logo {
    width: 80px;
    height: auto;
    }

    .icon {
        width: 78px;
        height: auto;
    }
/*フレーム灰色*/
     .frame-gray {
        background-color: #ccc;
        margin-left: auto;
        height: 500px;
        width: 1218px;
      }
/*フレーム白*/
     .frame-White {
        background-color: #FFFFFF;
        margin: 0 auto;
        height:500px;
        width:800px;
    }





      