/* ナビゲーション */
nav ul {
    list-style-type: none;
    background-color: #555;
    padding: 10px;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 100px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}
/*マイページに遷移する人のアイコンを右寄せ*/
.mypage {
    float: right;
  }

  /*共通部分のロゴを小さくする*/
  .logo {
    width: 80px;
    height: auto;
    }

    .icon {
        width: 78px;
        height: auto;
    }

    .frame {
        background-color: #ccc;
        width: 1340px;
        height: 600px;
        text-align: left;
      }
      