h1{
    font-size: 2rem;
    border-bottom:3px solid #09cf30;
    text-align: center;
    width: 53%;
    margin: 25px auto;
    position: relative;
    top:-30px;

}
::placeholder{
    color: black;
    text-align: center;
    position: relative;
    top: 2rem;
    left: 0%;
    line-height: 400%;
  }

.create{
    display: inline-block;
  text-decoration: none;
  background: orange;
  color: #FFF;
  width: 120px;
  height: 80px;
  line-height: 500%;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  box-shadow: 0px 0px 0px 5px orange;
  border: dashed 1px #FFF;
  transition: .4s;
  position: absolute;
  left: 50%;
  margin-left: -70px;
}

.create:hover {
    background: #668ad8;
    box-shadow: 0px 0px 0px 5px #668ad8;
  }

  .label{
	display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 300px;
	margin: auto;
	padding: 50px 80px;
	font-weight: bold;
	border: 2px solid #808080;
	color: #000000;
	transition: 0.5s;
    font-size: 20px;
    position: relative;
    top:-100px;
}
/*回答ボタン*/

.answer {
    display: inline-block;
    padding: 0.5em 200px;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
    position: relative;
    left: 150px;
    top:-110px;
  }
  .answer:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
  }

  /*スキップボタン*/

  .skip {
    display: inline-block;
    padding: 0.5em 20px;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
    position: relative;
    left: 500px;
    top:-120px;
  }
  .skip:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
  }

  /*正答率表示ラベル*/
  .Correctanswerrate{
	display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 300px;
	margin: auto;
	padding: 2px 10px;
	font-weight: bold;
	border: 2px solid #808080;
	color: #000000;
	transition: 0.5s;
    font-size: 20px;
    position: relative;
    top:-80px;
    
}

/*中断するボタン*/
.interruption {
    display: inline-block;
    padding: 0.5em 10px;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
    position: relative;
    left: 80px;
    top:-40px;
  }
  .interruption:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
  }
/*回答分を上にあげる処理*/
  .Answersentence{
    position: relative;
    top:-110px;
  }