h1{
	box-sizing: border-box;
	margin: 0 auto;
	font-size: 20px;
	border-bottom:3px solid #09cf30;
	text-align: center;
	width: 70%;
	padding: 1vh 0;
}
/*現在の正答率*/
.now{
    text-align: center;
    background-size: 80% 3rem;
    position: relative;
    left: 10px;
}
.question{
    text-align: center;
    position: relative;
    top: 0.5rem;
    left: 0%;
    line-height: 500%;
}
.choiceQuestion{
    width: 80%;
    margin: auto;
}
.choice{
    text-align: center;
    background-color: gray;
    width: 2rem;
    height: 2rem; 
    margin-right: auto;
    position: relative;
    top: 2rem;
    left: 0%;
    line-height: 200%;
}
.answer{
  display: flex;
  justify-content: flex-end;
    text-align: center;
    position: relative;
    left: 0%;
    bottom: 1rem;
    line-height: 200%;
}
/*スキップボタン*/
.skip {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #FF6600;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 30%;
    position: relative;
    left: 400px;
  }
  .skip:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(1%);/*下に動く*/
    border-bottom: none;/*線を消す*/
  }
  .skip:hover{
    background-color: #668ad8
  }

  /*回答ボタン*/
  .solve {
    display: inline-block;
    padding: 0.5em 3.5em;
    text-decoration: none;
    background: #FF6600;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 30%;
    position: relative;
    left: 250px;
  }
  .solve:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(1%);/*下に動く*/
    border-bottom: none;/*線を消す*/
  }

  .solve:hover{
    background-color: #668ad8
  }


  /*中断するボタン*/
  .interruption {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #808000;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 30%;
    position: relative;
    left: 60px;
  }
  .interruption:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(1%);/*下に動く*/
    border-bottom: none;/*線を消す*/
  }

  .interruption:hover{
    background-color: #668ad8
  }