h1{
  box-sizing: border-box;
  margin: 0 auto;
  font-size: 20px;
  border-bottom:3px solid #09cf30;
  text-align: center;
  width: 70%;
  padding: 1vh 0;
}


::placeholder{
    color: black;
    text-align: center;
    position: relative;
    top: 20%;
    left: 0%;
    line-height: 200%;
  }

  .number{
    display: flex; 
    justify-content: flex-end;
    margin-top: 3vh;
  }

  .button
  {
    width: 5vw;
    height: 5vh;
  }

.choiceQuestion{
    width: 100%;
    margin: auto;
}
.container {
	display: block;
	box-sizing: border-box;
	width: 70%;
	height: 100%;
	padding: 5% 0;
	margin: 0 auto;
}

.answer{
  width: 90%;
  height: 5vh;
  background-color: #C0C0C0;
  margin-left: 2vw;
}


.question{
  width: 100%; 
  height: 15vh; 
  background-color: gray;
}


/*問題をスキップ*/
.skip {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0.3em 1.0em;
  background: gray	;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 30%;

 
    


  }
  .skip:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(1%);/*下に動く*/
    border-bottom: none;/*線を消す*/
  }

  .skip:hover{
    background-color: #668ad8
  }


/*スキップ・中断・正当*/
.tes{
  display: flex;
}


/*中断するボタン*/
.interruption {
  display: inline-block;
  padding: 0.3em 1.0em;
  text-decoration: none;
  background: #808000;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 30%;
 
}
.interruption:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(1%);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.interruption:hover{
  background-color: #668ad8
}
/*回答文入力*/
  .Answersentence{
    width: 100%; 
    height: 20vh;  
    border:2px solid gray ;
  }

  .now{
    text-align: center;
    margin-top: 10px;
    margin-left: 8px;
  }

  .mondai{
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-top: 20px;
  }