h1{
	box-sizing: border-box;
	margin: 0 auto;
	font-size: 20px;
	border-bottom:3px solid #09cf30;
	text-align: center;
	width: 70%;
	padding: 1vh 0;
}

.label{
	box-sizing: border-box;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 300px;
	margin: auto;
	padding: 10px 50px;
	font-weight: bold;
	border: 2px solid #808080;
	color: #000000;
	transition: 0.5s;
    font-size: 20px;
}


.Genreselectionbutton {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #FF6600;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 30%;
    position: relative;
    
  }
  .Genreselectionbutton:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(1%);/*下に動く*/
    border-bottom: none;/*線を消す*/
  }
  .Genreselectionbutton:hover{
    background-color: #668ad8
  }

.Genreselection{
	text-align: center;
}


.aws{
    box-sizing: border-box;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 300px;
	height: 100px;
	margin: auto;
	padding: 10px 56px;
	font-weight: bold;
	border: 2px solid #808080;
	color: #000000;
	transition: 0.5s;
    font-size:30px;
}
.te{
	bottom: auto;
	text-align: right;
}

.questioninput {
    margin-bottom: 50px;
}

.container {
	box-sizing: border-box;
	width: 70%;
	height: 100%;
	padding: 5% 0;
	margin: 0 auto;
  }

.Correctanswerrate{
	justify-content: center; 
	align-items: center;
	display: flex;
	text-align: center;
	margin-bottom: 10px;
}

.seitou{
	justify-content: center; 
	align-items: center;
	display: flex;
	text-align: center;
	margin-bottom:10px;
}