/* タイトル */
h1{
	box-sizing: border-box;
	margin: 0 auto;
	font-size: 20px;
	border-bottom:3px solid #09cf30;
	text-align: center;
	width: 70%;
	padding: 1vh 0;
}
.choice{
	margin: auto;
}

/* メイン */

.container {
	display: block;
	box-sizing: border-box;
	width: 70%;
	height: 100%;
	padding: 5% 0;
	margin: 0 auto;
}

/* 四択or記述 */
.problemselection{
	display: flex;
    text-align: center;
	margin: 0 auto 2vh auto;
	margin-left: 30%;
}


.flexgenre{
	display: flex;
	margin: 0 auto 2vh auto;
	margin-left: 10%;
}

label{
	display: block;
}
/* ジャンル選択 */
.checkedgenre{
	width: 50%;
	margin-top: -50vh;
}

/* 問題数　間違った問題 */
.questioninput{
	margin-top: -50vh;
}

.summary label{
	margin-bottom: 1vh;
}

.Genreselection label{
	margin-bottom: 1vh;
}

/* 分類　小　*/
.Genreselection{
	margin-left: 2vw;
}

.num{
	display: flex;
	width: 90%;
    text-align: center;
	margin: 0 auto 2vh auto;
	margin-left: 20%;
}

.textnum{
	box-sizing: border-box;
	width: 100%;
}

.startbutton {
    display: inline-block;
    padding: 0.5em 3.5em;
    text-decoration: none;
    background: #FF6600;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 30%;
	margin-left: 32%;
  }
  .startbutton:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(1%);/*下に動く*/
    border-bottom: none;/*線を消す*/
  }

  .startbutton:hover{
    background-color: #668ad8
  }
  .line{
	box-sizing: border-box;
    width: 70%;
    height: 3px;
    background-color: #808080;
    margin: 1% auto 3% auto;
}
.line2{
    width: 3px;
    height: 50vh;
    background-color: #808080;
    margin-left: 50%;

}