/* タイトル */
h1{
	box-sizing: border-box;
	margin: 0 auto;
	font-size: 20px;
	border-bottom:3px solid #09cf30;
	text-align: center;
	width: 70%;
	padding: 1vh 0;
}

/* メイン */

.container {
	display: block;
	box-sizing: border-box;
	width: 70%;
	height: 100%;
	padding: 5% 0;
	margin: 0 auto;
}

/* 四択or記述 */
.problemselection{
    text-align: center;
	margin: 0 auto 2vh auto;
}


.flexgenre{
	display: flex;
	margin: 0 auto 2vh auto;
}

label{
	display: block;
}
/* ジャンル選択 */
.checkedgenre{
	width: 50%;
}

/* 問題数　間違った問題 */
.questioninput{
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.summary label{
	margin-bottom: 1vh;
}

.Genreselection label{
	margin-bottom: 1vh;
}

/* 分類　小　*/
.Genreselection{
	margin-left: 2vw;
}

.num{
	display: flex;
	box-sizing: border-box;
	width: 100%;
}

.textnum{
	box-sizing: border-box;
	width: 100%;
}

.startbutton {
	display: block;
	text-align: center;
	text-decoration: none;
	width: 100%;
	margin: 0 auto;
	font-weight: bold;
	border: 2px solid #808080;
	color: #000000;
	transition: 0.5s;
    font-size: 20px;
}

