h1{
	box-sizing: border-box;
	margin: 0 auto;
    font-size: 20px;
    border-bottom:3px solid #09cf30;
    text-align: center;
    width: 70%;
	padding: 1vh 0;
}

::placeholder{
    color: black;
    text-align: center;
    position: relative;
    top: 2rem;
    left: 0%;
    line-height: 400%;
  }

  .Problemstatement{
    position: relative;
    top: 10px;
  }

  .create {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0.3em 3.5em;
  background: #FF6600;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 30%;
  width: 30%;
  text-align: center;
  
    


  }
  .create:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(1%);/*下に動く*/
    border-bottom: none;/*線を消す*/
  }

  .create:hover{
    background-color: #668ad8
  }

.mondaibun{
  justify-content: center; 
  align-items: center;
  display: flex;
  margin-bottom: 20px;
  
}

.Problemstatement {
  width: 100%; 
  height: 10rem;
  background-color: #C0C0C0;
}

.Answerinput{
  width: 100%; 
  height: 8rem;  
  border:2px solid gray ;
}

.kaitoubun{
  justify-content: center; 
  align-items: center;
  display: flex;

}

.container {
	box-sizing: border-box;
	width: 70%;
	height: 100%;
	padding: 5% 0;
	margin: 0 auto;
  }

.Problemcentering{
  text-align: center;
}
