h1{
  box-sizing: border-box;
  margin: 0 auto;
  font-size: 20px;
  border-bottom:3px solid #09cf30;
  text-align: center;
  width: 70%;
  padding: 1vh 0;
}
.question{
  width: 80%;
  height: 5rem;
  background-color: #C0C0C0;
}

::placeholder{
    color: black;
    text-align: center;
    position: relative;
    top: 20%;
    left: 0%;
    line-height: 200%;
  }

  .number{
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
  }

  .button
  {
    width: 2rem;
    height: 2rem;
  }

.choiceQuestion{
    width: 80%;
    margin: auto;

}
.container {
	display: block;
	box-sizing: border-box;
	width: 70%;
	height: 100%;
	padding: 5% 0;
	margin: 0 auto;
}

.answer{
  width: 90%;
  height: 2rem;
  background-color: #C0C0C0;
  margin-left: 2rem;
}
.create {
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  margin-top: 1rem;
  }

  input[type="submit"] {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0.5em 3.5em;
    background: #FF6600;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 30%;
   
  }



