h1{
  box-sizing: border-box;
  margin: 0 auto;
  font-size: 20px;
  border-bottom:3px solid #09cf30;
  text-align: center;
  width: 70%;
  padding: 1vh 0;
}

::placeholder{
    color: black;
    text-align: center;
    position: relative;
    top: 20%;
    left: 0%;
    line-height: 200%;
  }

.choiceQuestion{
    width: 80%;
    margin: auto;
}
.choice{
    text-align: center;
    background-color: gray;
    width: 2rem;
    height: 2rem; 
    margin-right: auto;
    position: relative;
    top: 2rem;
    left: 0%;
    line-height: 200%;
}

.create {
    display: inline-block;
    padding: 0.5em 3.5em;
    text-decoration: none;
    background: #FF6600;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 30%;
    height: auto;
    position: relative;
    left: 150px;
  }
  .create:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(1%);/*下に動く*/
    border-bottom: none;/*線を消す*/
  }

  .create:hover{
    background-color: #668ad8
  }


