/* タイトル */
h1{
	box-sizing: border-box;
	margin: 0 auto;
    font-size: 20px;
    border-bottom:3px solid #09cf30;
    text-align: center;
    width: 70%;
	padding: 1vh 0;
}



/* メイン */

.container {
	box-sizing: border-box;
	width: 70%;
	height: 100%;
	padding: 5% 0;
	margin: 0 auto;
  }

.question {
	box-sizing: border-box;
	display: flex;
	align-items: center;
    justify-content: center;
	text-decoration: none;
	width: 100%;
	margin: 0 auto 3% auto;
	font-weight: bold;
	border: 2px solid grey;
	color: black;
	transition: 0.5s;
}
.question:hover {
	color: #fff;
	background: #27acd9;
}

.tes{
	display: flex;
	margin-top: -30px;
}


.delete {
	box-sizing: border-box;
	display: flex;
	margin: 0 auto;
	padding: 0.3em 4.0em;
	background: silver	;/*ボタン色*/
	color: #FFF;
	border-bottom: solid 4px #627295;
	border-radius: 30%;
	width: 30%;
	text-align: center;
	margin-top: 1rem;
	}
.delete:active {
	/*ボタンを押したとき*/
	-webkit-transform: translateY(4px);
	transform: translateY(1%);/*下に動く*/
	border-bottom: none;/*線を消す*/
	}

	.delete:hover{
	background-color: #668ad8
	}

	.edit {
		box-sizing: border-box;
		display: flex;
		margin: 0 auto;
		padding: 0.3em 4.0em;
		background: silver	;/*ボタン色*/
		color: #FFF;
		border-bottom: solid 4px #627295;
		border-radius: 30%;
		width: 30%;
		text-align: center;
		margin-top: 1rem;
		}
	.edit:active {
		/*ボタンを押したとき*/
		-webkit-transform: translateY(4px);
		transform: translateY(1%);/*下に動く*/
		border-bottom: none;/*線を消す*/
		}
	
		.edit:hover{
		background-color: #668ad8
		}
	
.Problemlist{
	margin-top: 30px;
}

