h1{
	box-sizing: border-box;
	margin: 0 auto;
    font-size: 20px;
    border-bottom:3px solid #09cf30;
    text-align: center;
    width: 70%;
	padding: 1vh 0;
}

/*成績表示*/
.Grade {
	box-sizing: border-box;
	display: flex;
	align-items: center;
    justify-content: center;
	text-decoration: none;
	height: 7%;
	width: 100%;
	margin: 0 auto 3% auto;
	font-weight: bold;
	border: 2px solid grey;
	color: black;
	transition: 0.5s;
}
.Grade:hover {
	color: #fff;
	background: #27acd9;
}
.while{
	margin-bottom: 20px;
}


/*プルダウン*/
.cp_ipselect {
	overflow: hidden;
	width: 30%;
	margin: 1px auto;
	margin: 0 0 0 auto;
	top: -10px;
	
}
.cp_ipselect select {
	width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
	text-align: right;
}
.cp_ipselect select::-ms-expand {
    display: none;
}
.cp_ipselect.cp_sl04 {
	position: relative;
	border-radius: 2px;
	border: 2px solid #808080;
  border-radius: 50px;
	background: #808080;
}
.cp_ipselect.cp_sl04::before {
	position: absolute;
	top: 0.8em;
	right: 0.8em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #FFFFFF;
	pointer-events: none;
}
.cp_ipselect.cp_sl04 select {
	padding: 8px 38px 8px 8px;
	color: #000000;
}

/*プルダウン位置調整*/
.selection{
	text-align: right;
}

.container {
	box-sizing: border-box;
	width: 70%;
	height: 100%;
	padding: 5% 0;
	margin: 0 auto;
  }

  