/*各ボタン*/
.button {
	display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 320px;
	margin: auto;
	padding: 10px 80px;
	font-weight: bold;
	border: 2px solid #808080;
	color: #000000;
	transition: 0.5s;
    font-size: 20px;
}
/*ボタンにカーソルを合わせたときの処理*/
.button:hover {
    color:#fff;
    background: #27acd9;
}

h1 {
    font-size: 20px;
    text-align: center;
    bottom: -10px;
}

.green{
    position: relative;
    width: 55%; /* 線の長さを調節する部分 */
    height: 3px;
    background-color: #008000; /* 緑色の線 */
    margin: 0 auto; /* 中央に配置するためのマージン */
    
}

.green-under{
    position: relative;
    width: 150%; /* 線の長さを調節する部分 */
    height: 3px;
    background-color: #008000; /* 緑色の線 */
    margin: 0 auto; /* 中央に配置するためのマージン */
    
}
/*ログイン*/
.container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
  }
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="password"],
  input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  input[type="submit"] {
    width: 100%;
    padding: 3px;
    background-color: #4caf50;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #FF6600
  }

.icon {
    width: 50px;
}


/*アカウント管理*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.text-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.text {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

/*成績ページ*/
.Grade {
	display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 300px;
	margin: auto;
	padding: 3px 80px;
	font-weight: bold;
	border: 2px solid #808080;
	color: #000000;
	transition: 0.5s;
    font-size: 20px;
}

.cp_ipselect {
	overflow: hidden;
	width: 20%;
	margin: 1px auto;
	text-align: center;
}
.cp_ipselect select {
	width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}
.cp_ipselect select::-ms-expand {
    display: none;
}
.cp_ipselect.cp_sl04 {
	position: relative;
	border-radius: 2px;
	border: 2px solid #808080;
  border-radius: 50px;
	background: #808080;
}
.cp_ipselect.cp_sl04::before {
	position: absolute;
	top: 0.8em;
	right: 0.8em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #FFFFFF;
	pointer-events: none;
}
.cp_ipselect.cp_sl04 select {
	padding: 8px 38px 8px 8px;
	color: #000000;
}