h1{
    box-sizing: border-box;
    margin: 0 auto;
    font-size: 20px;
    border-bottom:3px solid #09cf30;
    text-align: center;
    width: 70%;
    padding: 1vh 0;
}



/* メイン */

.container {
	box-sizing: border-box;
	width: 70%;
	height: 100%;
	padding: 5% 0;
	margin: 0 auto;
  }


/* ボタン */
.Button {
	box-sizing: border-box;
	display: flex;
	align-items: center;
    justify-content: center;
	text-decoration: none;
	height: 7%;
	width: 100%;
	margin: 0 auto 3% auto;
	font-weight: bold;
	border: 2px solid grey;
	color: black;
	transition: 0.5s;
}
.Button:hover {
	color: #fff;
	background: #27acd9;
}