/* メイン */

.container {
	box-sizing: border-box;
	width: 70%;
	height: 100%;
	padding: 5% 0;
	margin: 0 auto;
  }
  .frame-white{
    line-height: 5vw;
  }
/* ボタン */
.Button {
	box-sizing: border-box;
	display: flex;
	align-items: center;
    justify-content: center;
	text-decoration: none;
	height: 7%;
	width: 100%;
	margin: 0 auto 3% auto;
	font-weight: bold;
	border: 2px solid grey;
	color: black;
	transition: 0.5s;
}

h1{
    box-sizing: border-box;
    margin: 0 auto;
    font-size: 20px;
    border-bottom:3px solid #09cf30;
    text-align: center;
    width: 70%;
    padding: 1vh 0;
}
input[type="range"] { 
    margin-left: 10vw;
    -webkit-appearance: none;
    overflow: hidden;
    height: 20px;
    width: 30vh;
    cursor: pointer;
    border-radius: 0; /* iOS */
}

::-webkit-slider-runnable-track {
    background: #ddd;
}

/*
 * 1. Set to 0 width and remove border for a slider without a thumb
 * 2. Shadow is negative the full width of the input and has a spread 
 *    of the width of the input.
 */
::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px; /* 1 */
    height: 20px;
    background: #fff;
    box-shadow: -200px 0 0 200px dodgerblue; /* 2 */
    border: 2px solid #999; /* 1 */
}

::-moz-range-track {
    height: 20px;
    background: #ddd;
}

::-moz-range-thumb {
    background: #fff;
    height: 20px;
    width: 20px;
    border: 3px solid #999;
    border-radius: 0 !important;
    box-shadow: -200px 0 0 200px dodgerblue;
    box-sizing: border-box;
}

::-ms-fill-lower { 
    background: dodgerblue;
}

::-ms-thumb { 
    background: #fff;
    border: 2px solid #999;
    height: 20px;
    width: 20px;
    box-sizing: border-box;
}

::-ms-ticks-after { 
    display: none; 
}

::-ms-ticks-before { 
    display: none; 
}

::-ms-track { 
    background: #ddd;
    color: transparent;
    height: 20px;
    border: none;
}

::-ms-tooltip { 
    display: none;
}

