/* タイトル */
h1{
	box-sizing: border-box;
	margin: 0 auto;
  font-size: 20px;
  border-bottom:3px solid #09cf30;
  text-align: center;
  width: 70%;
	padding: 1vh 0;
}



/* メイン */

.container {
	box-sizing: border-box;
	height: 100%;
	padding: 5% 0;
	margin: 0 auto;
  }

/* 小見出し */
label {
  font-weight: bold;
  margin: 10px;
}

.user-icon {
  box-sizing: border-box;
  width: 15%;
}
.pass-icon {
  width: 11%;
}



.form-group {
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  width: 70%;
}


input[type="text"],
input[type="password"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="submit"] {
  display: block;
  box-sizing: border-box;
  width: 70%;
  margin: 10px auto;
  padding: 3px;
  background-color: #4caf50;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #FF6600
}
