/* タイトル */
h1{
	box-sizing: border-box;
	margin: 0 auto;
  font-size: 20px;
  border-bottom:3px solid #09cf30;
  text-align: center;
  width: 70%;
	padding: 1vh 0;
}



/* メイン */

.container {
	box-sizing: border-box;
	width: 70%;
	height: 100%;
	padding: 5% 0;
	margin: 0 auto;
  }


/* 小見出し */
label {
  font-weight: bold;
  margin: 10px;
}

.user-icon {
  box-sizing: border-box;
  width: 30px;
}
.pass-icon {
  width: 30px;
}



.form-group {
  box-sizing: border-box;
  display: block;
  margin: 0 auto 2vh auto;
  width: 100%;
}

.login-button{
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  width: 90%;
  text-align: center;
}


input[type="text"],
input[type="password"],
input[type="password"] {
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="submit"] {
  box-sizing: border-box;
  padding: 0.5em 3.5em;
  background: #FF6600;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 30%;
}

input[type="submit"]:hover {
  background-color: #668ad8
}

input[type="submit"]:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(1%);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

